@charset "utf-8";
@font-face {
  font-family: 'Blender-book';
  src: url('assets/blenderpro-book-webfont.woff');
}

#graph {
  height: 100vh;
  width: 100vw;
}

svg {
    width: 100%;
}

body {
  background-color: rgb(40, 40, 40);
  font-family: 'Blender-book';
}

polygon {
  fill: rgba(0, 0, 0, 0);
}

#graph0 > text {
    fill: white;
    font-family: 'Blender-book';
    font-size: 2em;
}

.edge polygon {
  fill: white;
  stroke: white;
}

.edge path {
  stroke: white;
}

.node text {
  font-family: 'Blender-book';
  fill: white;
}

.node {
  cursor:pointer; pointer-events: all;
}

ellipse {
  stroke:  rgb(84, 207, 212);
  fill: rgb(57, 30, 233);
  stroke-width: 2.5;
}

ellipse.ghost-ring {
  fill: none;
  stroke-opacity: 0.1;
  stroke-width: 1;
  stroke: white;
}

ellipse.progress-ring {
  animation: dash 2s ease-out forwards;
  fill: none;
  stroke-linecap: round;
  stroke: #F44336;
}

ellipse.face-ring{
  fill: white;
  stroke-width: ;
  stroke: black;
}
.node text.initials {
  fill: #3F51B5;
}

/* overlay stuff */
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  display: none;
}

.popup {
  background-color: : #fff;
  border: 1px solid #666;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  margin: 4em auto;
  padding: 3px;
  position: relative;
  width: 80vw;
}

.popup-content {
  text-align: center;
}

.close {
  color: #666;
  font-size: 3em;
  font-weight: bold;
  height: 40px;
  opacity: 0.8;
  right: -5px;
  text-decoration: none;
  top: -5px;
  transition: all 200ms;
  width: 40px;
  position: absolute;
 }
 .close:hover {
   opacity: 1;
 }

iframe {
  height: 80vh;
  width: 100%;
}
