@charset "utf-8";
@font-face {
  font-family: 'Blender-book';
  src: url('https://bvn-architecture.github.io/techtree/assets/blenderpro-book-webfont.woff');
}

#graph {
  width: 100vw;
  height: 100vh;
}

svg {
    width: 100%;
}

body {
  font-family: 'Blender-book';
  background-color: rgb(40, 40, 40);
}

polygon {
  fill: rgba(0, 0, 0, 0);
}

#graph0 > text {
    font-size: 2em;
    font-family: 'Blender-book';
    fill: white;
}

.edge polygon {
  fill: white;
  stroke: white;
}

.edge path {
  stroke: white;
}

.node text {
    font-family: 'Blender-book';
    fill: white;
}

.node {
  cursor:pointer; pointer-events: all;
}

ellipse {
  fill: rgb(57, 30, 233);
  stroke-width: 2.5;
    stroke:  rgb(84, 207, 212);
}

ellipse.ghost-ring {
    fill: none;
    stroke-opacity: 0.1;
    stroke-width: 1;
    stroke: white;
}

ellipse.progress-ring {
  animation: dash 1s ease-out forwards;
  fill: none;
  /* stroke-dasharray: 162.054;
  stroke-dashoffset: 378.786; */
  stroke-linecap: round;
  stroke: #F44336;
}

ellipse.face-ring{
  fill: white;
  stroke: black;
  stroke-width: ;
}
.node text.initials {
  fill: #3F51B5;
}
