@charset "utf-8";
@font-face {
  font-family: 'Blender-book';
  src: url('/blenderpro-book-webfont.woff');
}

body {
  font-family: 'Blender-book';
}

.node {
  cursor:pointer; pointer-events: all;
}

ellipse.ghost-ring {
    fill: none;
    stroke-opacity: 0.5;
    stroke-width: 1;
    stroke: black;
}

ellipse.progress-ring {
  animation: dash 1s ease-out forwards;
  fill: none;
  /* stroke-dasharray: 162.054;
  stroke-dashoffset: 378.786; */
  stroke-linecap: round;
  stroke-width: 10;
  stroke: yellow;
}

ellipse.face-ring{
  fill: red;
  stroke: black;
}
